body, html {
  color: #000;
  font-family: Verdana,Geneva,sans-serif;
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
}

main>div {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}

li {
  padding: 40px;
}
