body,
html {
  color: #000;
  font-family: Verdana, Geneva, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
}

main > div {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}

li {
  padding: 40px;
}

h2.icon-title {
  color: #000;
  font-size: 18px;
  line-height: 1;
}

/* div.root {
  height: 1895px;
  width: 1197px;
  background-color: #000;
  min-height: 937px;
} */

div.main-container {
  height: 1895px;
  width: 1007.44px;
  margin-bottom: 0px;
  margin-left: 94.7812px;
  margin-right: 94.7812px;
  background-color: #000;
  color: white;
  text-decoration-color: #000;
}

input.search {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
}

div.header {
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #ff742b;
  height: auto;
  padding: 4px;
  position: relative;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
